.for_light_theme {
    --primary-color: #302ae6;
    --secondry-color: #536960;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    margin: 0;
    padding: 0;
}


.for_dark_theme {
    --primary-color: #9a97f3;
    --secondry-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}